$footerHeight: 51px;
body, html {
    background-color: #fff;
    position: relative;
    min-height: 100%;
    height: 100%;
}
.navbar {
    + .container {
      padding: $footerHeight 15px 0;
    }
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/*
    FORMS
*/
.form-outer {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    .form-inner {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }
}
.form-signin, .form-signup, .form-forgot-password {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .form-heading, .checkbox {
        margin-bottom: 15px;
    }
    .checkbox {
        font-weight: normal;
    }
    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        &:focus {
            z-index: 2;
        }
    }

    input.form-control {
        margin-bottom: -1px;
        @include border-radius(0);

        &.first {
            @include border-radius(3px 3px 0 0);
        }
        &.last {
            @include border-radius(0 0 3px 3px);
        }
        &.alone {
            @include border-radius(3px);
        }
    }
    .btn-link {
        padding: 0;
    }
    .btn-primary {
        margin-bottom: 20px;
    }
}

//MAIN
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footerHeight);
    .row{
        margin-top: 30px;
    }
}


//FOOTER
.push, .footer {
    height: $footerHeight;
}
.footer {
    width: 100%;
    background-color: #f5f5f5;
    > .container {
        padding-right: 15px;
        padding-left: 15px;
        .text-muted {
          margin: 15px 0;
        }
    }
}





