$footerHeight: 51px;
body,
html {
    background-color: #ddd;
    position: relative;
    min-height: 100%;
    height: 100%;
}

.navbar {
    + .container {
        padding: $footerHeight 15px 0;
    }
}

.clear {
    clear: both;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
/*
    FORMS
*/

.form-outer {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    .form-inner {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }
}

.form-signin,
.form-signup,
.form-forgot-password {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .form-heading, .checkbox {
        margin-bottom: 15px;
    }
    .checkbox {
        font-weight: normal;
    }
    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        &:focus {
            z-index: 2;
        }
    }
    input.form-control {
        margin-bottom: -1px;
        @include border-radius(0);
        &.first {
            @include border-radius(3px 3px 0 0);
        }
        &.last {
            @include border-radius(0 0 3px 3px);
        }
        &.alone {
            @include border-radius(3px);
        }
    }
    .btn-link {
        padding: 0;
    }
    .btn-primary {
        margin-bottom: 20px;
    }
}

//MAIN
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footerHeight);
    .row {
        margin-top: 10px;
        &:last-child {
            margin-bottom: 30px;
        }
    }
}

//FOOTER
.push,
.footer {
    height: $footerHeight;
}

.footer {
    width: 100%;
    background-color: #f5f5f5;
    > .container {
        padding-right: 15px;
        padding-left: 15px;
        .text-muted {
            margin: 15px 0;
        }
    }
}

//GROUNDPLAN
.scale-value {
    margin-bottom: 20px;
}

.groundplan-outer {
    width: 960px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    position: relative;
    .groundplan {
        height: 800px;
        img {
            width: 100%;
        }
        .groundplan-inner {
            position: relative;
            .dot {
                position: absolute;
                width: 9px;
                height: 9px;
                border-width: 0 3px 3px 0;
                border-style: solid;
                background-color: transparent;
                border-color: #F55;
            }
            //MAP-ROOM
            .map-room {
                position: absolute;
                border: 1px solid #000;
                background-color: rgba(0, 0, 0, 0.5);
                overflow: hidden;
                transition: border-color .5s;
                -webkit-transition: border-color .5s;
                .name {
                    text-align: center;
                    color: #fff;
                    margin: 20px 0 0 0;
                }
                &.owner {
                    background-color: rgba(55, 255, 0, 0.5);
                    border-color: rgba(55, 255, 0, 1);
                    &:hover {
                        border-color: #38A31B;
                    }
                }
                &:hover {
                    border: 1px solid #f00;
                }
            }
        }
    }
}

.room-data {
    display: none;
    .room-inner {
        border: 1px solid #f00;
        .item-table {
            border: 1px solid #999;
            position: absolute;
        }
    }
}

//----------------------------------------------------
[alt="logo"] {
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

[alt="logo2"] {
    height: 50px;
}

[alt="fhd"] {
    width: 8%;
    height: 8%;
}
/* Raumbearbeitung ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

option {
    font-weight: lighter;
}

.altlist {
    margin-left: 10px;
}

#GrundrissAltbau,
#GrundrissNeubau {
    margin-left: 5px;
}

#Map {
    margin: 0.1em;
    border: 0.1em solid black;
    height: 25em;
}

#MapText {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0, 5em;
    padding-top: 0, 5em;
}

#MuellListe,
#LagerListe,
#Wunschliste {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    margin-right: 0;
    margin-left: 0;
    list-style-type: none;
    padding: 0;
}

#NeuTrakt,
#NeuRaum,
#NeuTraktMap,
#NeuRaumMap,
#AltTraktMap,
#AltRaumMap {
    width: 100px;
}

#MapsLagerListen {
    padding: 0.3em;
}

h4 {
    display: inline;
}

#AltTrakt,
#AltEtage,
#AltRaum,
#NeuTrakt,
#NeuEtage,
#NeuRaum,
#AltTraktMap,
#AltEtageMap,
#AltRaumMap,
#NeuTraktMap,
#NeuEtageMap,
#NeuRaumMap {
    font-size: 0.7em;
    padding-right: 0.3em;
    padding-left: 0.3em;
    padding-top: 0.3em;
}

#Altbau,
#Neubau {
    border: 0.2em solid black;
    border-radius: 6px;
}

#oeffentlichesLager,
#LagerLeiste {
    /*border: 0.2em solid black;*/
    
    border-radius: 6px;
}

#Altbau,
#oeffentlichesLager {
    background-color: white;
}

#Wunschliste,
#AltbauAuswahl,
#NeubauAuswahl,
#AltbauAuswahlMap,
#NeubauAuswahlMap,
#NeubauMap {
    padding: 0.2em;
}

#AltbauAuswahl {
    background-color: #b02d2d;
}

#Altbau,
#Neubau,
#LagerLeiste {
    margin: 0.5em;
}

#Neubau {
    background-color: rgba(128, 128, 128, 0.7);
}

#NeubauMap {
    background-color: #FAFAFA;
    overflow: scroll;
    height: 500px;
}

#minus,
#plus {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

#LagerTab,
#WunschTab,
#MüllTab {
    padding: 0.2em;
    margin: 0;
    font-size: 11pt;
}

#wünsche {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

#wünsche td,
#wünsche th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

#Itembearbeiten,
#Itemlöschen {
    padding: 0.5em;
    margin: 0.2em;
    width: auto;
}

#Lager,
#Müll,
#Wunschliste {
    font-size: 0.81em;
    background-color: white;
    padding: 0;
    overflow: inherit !important;
}

#oeffentlichesLager {
    padding: 0.3em;
}

#ObereLeiste {
    background: white;
}

#ObereLeiste {
    border: 0.1em solid black;
}

button {
    size: 10em;
}

#AltbauTrakt,
#AltbauEtage,
#AltbauRaum,
#NeubauTrakt,
#NeubauEtage,
#NeubauRaum,
#AltbauTraktMap,
#AltbauEtageMap,
#AltbauRaumMap,
#NeubauTraktMap,
#NeubauEtageMap,
#NeubauRaumMap {
    width: 100%;
}

#Ueberschriften {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding: 0.4em;
    height: 3em;
}

#oeffentlichesLagerUeberschrift {
    border-radius: 6px;
    background-color: #222;
    padding: 0.2em;
    border: 1px solid black;
    font-weight: bold;
    font-size: 100%;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
}

#oeffentlichesLagerUeberschrift label {
    padding: 0;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    margin-left: 0.1em;
}

#oeffentlichesLagerUeberschrift button {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
}

#MuellButton,
#Raumgroeßer,
#Raumkleiner {
    padding: 0.5em;
    margin: 0.2em;
    width: auto;
}

#Verwerfen,
#Speichern {
    width: auto;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    font-size: 11pt;
}

#AltbauListe,
#Zielraum {
    margin: 0;
    width: auto;
    list-style-type: none;
    padding: 0.3em;
}

#oeffentlichesLagerListe {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    margin-right: 0;
    margin-left: 0;
    list-style-type: none;
    padding: 0;
}

#AltbauListe li,
#oeffentlichesLagerListe li,
#MuellListe li,
#LagerListe li {
    padding: 0.2em;
}

#Grundriss {
    position: relative;
    margin-left: 18em;
    padding-bottom: 4em;
}

.help-block {
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #737373;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.dropdown1 {
    margin-top: 28px;
    margin-left: 220px;
    position: relative;
}

.dropdown2 {
    margin-top: -33px;
    margin-left: 320px;
    position: relative;
}
/* Admin-Bereich - Grundrisse erstellen /////////////////////////////////////////////////////////////////////////////////// */

fieldset#addLayout {
    /**border: 2px solid black;
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -300px;
    padding: 10px; */
    /*background-color: rgba(128, 128, 128, 0);
    margin-bottom: 10px;*/
}

#imageMaps,
#Grundrissebearbeiten {
    margin: 10px;
    padding: 10px;
    border: black solid 1px;
    border-radius: 6px;
    background-color: gray;
}

#dialog-addLayout hr {
    width: 600px;
    margin-left: -130px;
}
/** speicher, verwerfen button
    .ui-state-default {

    }*/

#Hochladen,
#addLayoutPopupButton,
#editLayout {
    border: 1px solid silver;
    width: auto;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}
/* Benutzerbearbeitung und Import/ Export////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#Benutzeransicht,
#Import,
#Export {
    border-radius: 6px;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.7);
    margin-top: 0.3em;
}

#Benutzeransicht h1,
#Import h1,
#Export h1 {
    margin-left: 0.3em;
    font-family: Arial, sans-serif;
}

#Import,
#Export {
    padding-bottom: 1em;
}

#Nutzereigenschaften,
#Nutzerbearbeiten,
#Nutzerlöschen {
    padding: 0.5em;
    margin: 0.2em;
    width: auto;
}

#Nutzerhinzufügen {
    padding: 0.5em;
    margin: 1.3em 0.3em 0.3em 0.3em;
    width: auto;
}

label,
input {
    display: block;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

#dialog-Nutzerbearbeiten fieldset,
#dialog-Nutzerbearbeiten fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

div#Benutzeransicht table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

div#Benutzeransicht table td,
div#Benutzeransicht table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//Fürs Rotieren */

#target {
    height: 50px;
    width: 80px;
}

#target2 {
    height: 50px;
    width: 80px;
}

#target3 {
    height: 50px;
    width: 90px;
}

.main-container {
    width: 90% !important;
}