body {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #eee;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/*
    SIGN IN
*/
.form-signin, .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .form-heading, .checkbox {
        margin-bottom: 15px;
    }
    .checkbox {
        font-weight: normal;
    }
    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        &:focus {
            z-index: 2;
        }
    }

    input.form-control {
        margin-bottom: -1px;
        @include border-radius(0);

        &.first {
            @include border-radius(3px 3px 0 0);
        }
        &.last {
            @include border-radius(0 0 3px 3px);
        }
    }
}
