RewriteEngine On
Options +FollowSymLinks
RewriteBase /moveit


### BACKEND
RewriteRule ^admin$ admin/index.php [L]

RewriteRule ^admin/users$ admin/pages/users.php [L]
RewriteRule ^admin/users/create$ admin/pages/users.php?create [L]
RewriteRule ^admin/users/edit/([0-9]+)$ admin/pages/users.php?edit=$1 [L]
RewriteRule ^admin/users/edit/([0-9]+)/room/remove/([0-9]+)/(.*)$ admin/pages/users.php?edit=$1&removeroom=$2&token=$3 [L]
RewriteRule ^admin/users/remove/([0-9]+)$ admin/pages/users.php?remove=$1 [L]

RewriteRule ^admin/rooms$ admin/pages/rooms.php [L]
RewriteRule ^admin/rooms/create$ admin/pages/rooms.php?create [L]
RewriteRule ^admin/rooms/edit/([0-9]+)$ admin/pages/rooms.php?edit=$1 [L]
RewriteRule ^admin/rooms/remove/([0-9]+)$ admin/pages/rooms.php?remove=$1 [L]

RewriteRule ^admin/buildings$ admin/pages/buildings.php [L]
RewriteRule ^admin/buildings/create$ admin/pages/buildings.php?create [L]
RewriteRule ^admin/buildings/edit/([0-9]+)$ admin/pages/buildings.php?edit=$1 [L]
RewriteRule ^admin/buildings/remove/([0-9]+)$ admin/pages/buildings.php?remove=$1 [L]

RewriteRule ^admin/mapEditor$ admin/pages/mapEditor.php [L]
RewriteRule ^admin/mapEditor/create$ admin/pages/mapEditor.php?create [L]
RewriteRule ^admin/mapEditor/edit/([0-9]+)$ admin/pages/mapEditor.php?edit=$1 [L]
RewriteRule ^admin/mapEditor/edit/([0-9]+)/scale$ admin/pages/mapEditor.php?edit=$1&scale [L]
RewriteRule ^admin/mapEditor/edit/([0-9]+)/rooms$ admin/pages/mapEditor.php?edit=$1&rooms [L]
RewriteRule ^admin/mapEditor/remove/([0-9]+)$ admin/pages/mapEditor.php?remove=$1 [L]

## IMPORT/EXPORT
RewriteRule ^admin/importExport$ admin/pages/importExport.php [L]
RewriteRule ^admin/importExport/reset$ admin/pages/importExport.php?reset [L]
RewriteRule ^admin/importExport/import$ admin/pages/importExport.php?import [L]
RewriteRule ^admin/importExport/export$ admin/pages/importExport.php?export [L]


### ADMIN-AJAX
RewriteRule ^admin/ajax/saveMapRooms$ admin/include/ajax/saveMapRooms.php [L]
RewriteRule ^admin/ajax/removeMapRoom$ admin/include/ajax/removeMapRoom.php [L]

### FRONTEND
RewriteRule ^login$ pages/main/login.php [L]
RewriteRule ^register$ pages/main/register.php [L]
RewriteRule ^forgotPassword$ pages/main/forgotPassword.php [L]


### USERS
RewriteRule ^user/([0-9]+)$ pages/user/user.php?id=$1 [L] 
RewriteRule ^settings$ pages/user/settings.php [L] 


### LOGIN/LOGOUT
RewriteRule ^checkLogin$ include/checkLogin.php [L] 
RewriteRule ^logout/(.*)$ include/logout.php?token=$1 [L] 



### API
RewriteRule ^api/getRoom/([0-9]+)$ include/ajax/getRooms.php?room_id=$1 [L]
RewriteRule ^api/getRooms$ include/ajax/getRooms.php?all [L]
RewriteRule ^api/getRooms/building/([0-9]+)$ include/ajax/getRooms.php?building_id=$1 [L]
RewriteRule ^api/getRooms/map/([0-9]+)$ include/ajax/getRooms.php?map_id=$1 [L]
RewriteRule ^api/getRooms/notMap/([0-9]+)$ include/ajax/getRooms.php?not_map_id=$1 [L]


RewriteRule ^api/getBuildings$ include/ajax/getBuildings.php?all [L]